{{>layout/header}}

<h1>게시글 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="questionTitle">글 번호</label>
                <input type="text" class="form-control" id="questionTitle" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="questionTitle">제목</label>
                <input type="text" class="form-control" id="questionTitle" value="{{post.questionTitle}}" readonly>
            </div>
            <div class="form-group">
                <label for="question"> 내용 </label>
                <input type="text" class="form-control" id="question" value="{{post.question}}" readonly>
            </div>
            <div class="form-group">
                <label for="solution">답안</label>
                <input type="text" class="form-control" id="solution"  name="solution" >
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">답안 작성</button>
        <div class="error">{{errorMsg}}</div>

    </div>
</div>

{{>layout/footer}}

